In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import  seaborn as sns
from scipy.stats import uniform as sp_randFloat
from scipy.stats import randint as sp_randInt 
# %matplotlib


# Importing the dataset
train1 = pd.read_csv('dataset/hackathon.csv/Train.csv')
# Importing the dataset
test = pd.read_csv('dataset/hackathon.csv/Test.csv')
# dataset.describe()
# dataset.info()

/home/paul/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train = train1.drop(columns=['default_status'])

In [3]:
allfeat =  pd.concat([train,test],axis=0)

In [11]:
allfeat

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50
0,Apcnt_1000000,3436.0,0.28505,1.6560,0.0000,0.0000,0.0,10689720.0,252072.0,4272776.0,...,NaN,0.392854,2.02,0.711632,0.0,0.0,charge,NaN,1.129518,0.044335
1,Apcnt_1000004,3456.0,0.67400,0.2342,0.0000,0.0000,0.0,898979.0,497531.0,9073814.0,...,NaN,0.314281,8.08,0.183584,NaN,0.0,charge,349.805730,1.620483,0.322436
2,Apcnt_1000008,3276.0,0.53845,3.1510,0.0000,6.2820,NaN,956940.0,NaN,192944.0,...,NaN,0.162965,18.18,0.791136,0.0,0.0,charge,NaN,1.513370,0.011640
3,Apcnt_1000012,3372.0,0.17005,0.5050,0.0000,0.0000,192166.0,3044703.0,385499.0,3986472.0,...,NaN,0.488884,2.02,0.685168,NaN,0.0,charge,89.940100,0.664452,0.082729
4,Apcnt_1000016,3370.0,0.77270,1.1010,0.0000,0.0000,1556.0,214728.0,214728.0,1284089.0,...,NaN,0.275000,12.12,0.438168,0.0,0.0,charge,97.887502,1.427891,0.045630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,Apcnt_999940,3258.0,0.37925,0.5698,5.1282,0.0000,NaN,2280318.0,NaN,NaN,...,92.6910,1.100000,0.00,0.800000,NaN,1.0,charge,NaN,0.000000,NaN
23996,Apcnt_999956,3514.0,0.95260,0.0000,0.0000,0.0000,1494538.0,4773419.0,4773419.0,89718571.0,...,125.0220,0.000000,12.12,0.196400,0.0,0.0,charge,4200.072959,3.000000,0.930931
23997,Apcnt_999976,3302.0,0.05755,4.2394,0.0000,25.4376,NaN,49403.0,NaN,NaN,...,NaN,1.100000,1.01,0.800000,NaN,0.0,charge,NaN,4.855060,NaN
23998,Apcnt_999984,3334.0,0.75670,1.4428,0.0000,0.0000,0.0,2513329.0,37733.0,393668.0,...,31.1955,0.440000,2.02,0.519776,NaN,0.0,charge,27.325129,0.818733,0.023749
23999,Apcnt_999992,3324.0,0.44840,2.3170,6.7176,0.0000,NaN,5305182.0,NaN,18885950.0,...,112.3035,0.314281,3.03,0.544352,0.0,1.0,charge,NaN,0.000000,0.391927

In [4]:
# print(train.info())
# # print(train.shape)
# print(test.shape)

In [5]:
allfeat=allfeat.drop(columns=['Applicant_ID'])

In [6]:
allfeat = pd.concat([allfeat,pd.get_dummies(allfeat['form_field47'])],axis=1)

In [7]:
allfeat=allfeat.drop(columns=['form_field47'])

In [16]:
allfeat.head(4)

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field42,form_field43,form_field44,form_field45,form_field46,form_field48,form_field49,form_field50,charge,lending
0,3436.0,0.28505,1.6560,0.0,0.000,0.0,10689720.0,252072.0,4272776.0,11333126.0,...,0.392854,2.02,0.711632,0.0,0.0,NaN,1.129518,0.044335,1,0
1,3456.0,0.67400,0.2342,0.0,0.000,0.0,898979.0,497531.0,9073814.0,2533168.0,...,0.314281,8.08,0.183584,NaN,0.0,349.80573,1.620483,0.322436,1,0
2,3276.0,0.53845,3.1510,0.0,6.282,NaN,956940.0,NaN,192944.0,1079864.0,...,0.162965,18.18,0.791136,0.0,0.0,NaN,1.513370,0.011640,1,0
3,3372.0,0.17005,0.5050,0.0,0.000,192166.0,3044703.0,385499.0,3986472.0,3621979.0,...,0.488884,2.02,0.685168,NaN,0.0,89.94010,0.664452,0.082729,1,0

In [8]:
allfeat.fillna(-999,inplace=True)

In [9]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()

In [10]:
allfeat = pd.DataFrame(scalar.fit_transform(allfeat),
                      columns=allfeat.columns)

In [23]:
print(list(allfeat))

['form_field1', 'form_field2', 'form_field3', 'form_field4', 'form_field5', 'form_field6', 'form_field7', 'form_field8', 'form_field9', 'form_field10', 'form_field11', 'form_field12', 'form_field13', 'form_field14', 'form_field15', 'form_field16', 'form_field17', 'form_field18', 'form_field19', 'form_field20', 'form_field21', 'form_field22', 'form_field23', 'form_field24', 'form_field25', 'form_field26', 'form_field27', 'form_field28', 'form_field29', 'form_field30', 'form_field31', 'form_field32', 'form_field33', 'form_field34', 'form_field35', 'form_field36', 'form_field37', 'form_field38', 'form_field39', 'form_field40', 'form_field41', 'form_field42', 'form_field43', 'form_field44', 'form_field45', 'form_field46', 'form_field48', 'form_field49', 'form_field50', 'charge', 'lending']

In [24]:
allfeat.shape

(80000, 51)

In [12]:
X = allfeat[:][0:56000]

In [14]:
testdf=allfeat[:][56000:80000]

In [15]:
train1=pd.concat([train1,pd.get_dummies(train1['default_status'],drop_first=True)],axis=1)
#one-hot encoding the Title categories
train1=train1.drop(columns='default_status')
#column no longer needed

In [16]:
y=train1['yes']
y

0        0
1        0
2        1
3        0
4        0
        ..
55995    0
55996    1
55997    0
55998    0
55999    0
Name: yes, Length: 56000, dtype: uint8

In [42]:
allfeat.shape

(80000, 51)

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score

param_grid = [{'min_child_weight': np.arange(0.1, 10.1, 0.1)}]
#set of trial values for min_child_weight
i=1
kf = StratifiedKFold(n_splits=10,random_state=1,shuffle=True)
for train_index,test_index in kf.split(X,y):
     print('\n{} of kfold {}'.format(i,kf.n_splits))
     xtr,xvl = X.loc[train_index],X.loc[test_index]
     ytr,yvl = y[train_index],y[test_index]
     model = GridSearchCV(XGBClassifier(), param_grid, cv=5, scoring= 'roc_auc',iid=True)
     model.fit(xtr, ytr)
     print (model.best_params_)
     pred=model.predict(xvl)
     print('r_a_score',roc_auc_score(yvl,pred))
     i+=1

1 of kfold 10